body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f0f2f5;
    padding: 20px;
}


h1{
    text-align: center;
    color: turquoise;
}

.form{
    display: flex;
    gap: 8px;
}

input{
    flex: 1;
    padding: 10px;
    border: 1px solid blue;
    border-radius: 6px;
}

button{
    padding: 10px 14px;
    border: none;
    background: blue;
    color: white;
    border-radius: 6px;
    cursor: pointer;

}

button:hover{
    background: green;
}

li{
    margin-top: 10px;
    background: white;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}

.hapus{
    background: red;
}

.hapus:hover{
    background: red;
}

.edit{
    background: orange;
}

.edit:hover{
    background: darkorange;
}

.status{
    background: purple;
}

.status:hover{
    background: indigo;
}

.done{
    text-decoration: line-through;
    color: gray;
}

.progress{
    color: orange;
    font-weight: bold;
}